/*$buttonGreenDark: darken($buttonGreen, 10%);*/

/* Breakpoints for common devices */

/* default: 1.5625, sandstone: 14px/20px = 1.42857 */ /* minor third ratio */

/* not rem so you can use .small in .small */

body {
	font-size: 14px;
	font-size: 0.875rem;
  line-height: 20px;
  line-height: 1.25rem;
} /* depend on fontSize*/ /* depend on fontSize*/ /* depend on fontSize*/ /* depend on fontSize*/ /* depend on fontSize*/ /* depend on fontSize*/

h1 {
  font-size: 29px;
  font-size: 1.8144rem;
  line-height: 40px;
  line-height: 2.5rem;
  padding-top: 4px;
  padding-top: 0.29688rem;
  margin-bottom: 15px;
  margin-bottom: 0.95312rem;
  margin-top: 0;
}
.feature-title {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 20px;
  line-height: 1.25rem;
  padding-top: 4px;
  padding-top: 0.29688rem;
  margin-bottom: 15px;
  margin-bottom: 0.95312rem;
  margin-top: 0;
}
.feature-title,
.status-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@font-face {
  font-family: 'Open Sans';
  src: url('https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-Light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-Semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-LightItalic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-Regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-Bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-Italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
}

#tabzilla {
  float: right;
  position: relative;
}
#tabzilla a {
  text-indent: 120%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url('images/tabzilla-static.png');
  background-repeat: no-repeat;
  display: block;
  height: 37px;
  position: relative;
  width: 147px;
  z-index: 2;
}
#tabzilla:before {
  background-color: transparent;
  content: '';
  display: block;
  height: 26px;
  left: 28px;
  position: absolute;
  top: 0;
  width: 88px;
  z-index: 1;
}
html[dir='rtl'] #tabzilla {
  float: left;
}

body {
	font-family: 'Open Sans', sans-serif;
	background: #1e1e21;
	background-image: -webkit-radial-gradient(ellipse farthest-side at top left, #00549e 0, #000 100%);
	background-image: radial-gradient(ellipse farthest-side at top left, #00549e 0, #000 100%);
	background-size: 100% 500px;
	background-repeat: no-repeat;
	background-position: top center;
	color: #333;
	-webkit-text-size-adjust: 100%;
}

a {
  color: rgb(0,150,221);
  text-decoration: none;
}

a:hover, a:focus, a:active {
	color: rgb(0,150,221);
	text-decoration: underline;
}

.row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.row-inner {
	min-width: 300px;
	max-width: 1020px;
}
header {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	padding: 0 0 10px 14px;
	padding: 0 0 0.625rem 0.875rem;
}

h1 {
	padding-top: 20px;
	padding-top: 1.25rem;
	margin-bottom: 0;
	letter-spacing: -.035em;
	color: #fff;
	font-weight: 600;
}
h2 {
	font-weight: 300;
	font-size: 16px;
	font-size: 1.05rem;
	padding-top: 0;
	margin: 0 0 20px 0;
	margin: 0 0 1.25rem 0;
	color: #bbb;
	font-style: italic;
}

article {
	background-color: #fff;
}

#features {
	list-style: none;
	margin: 20px 0;
	margin: 1.25rem 0;
	padding: 0;
}

.feature {
	margin: 0;
	padding: 0;
	padding-left: 14px;
	padding-left: 0.875rem;
}
.feature:hover, .feature:focus {
	outline: none;
	background-color: #f6f4ec;
}
.feature-header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
  min-width: 0;
}
.feature-title {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	padding-top: 0;
	margin-bottom: 0;
	line-height: 40px;
	line-height: 2.5rem;
	padding-right: 14px;
	padding-right: 0.875rem;
}

.feature-meta {
	padding-top: 10px;
	padding-top: 0.625rem;
	padding-bottom: 13px;
	padding-bottom: 0.83333rem;
	display: none;
	color: #666;
}
.feature-summary {
	margin: 0;
	padding-bottom: 10px;
	padding-bottom: 0.625rem;
}
.feature-links ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.feature-links li {
	display: inline-block;
	margin-right: 7px;
	margin-right: 0.4375rem;
}
.feature-links a {
	color: rgb(0,150,221);
}
.feature-links a:hover, .feature-links a:focus, .feature-links a:active {
	color: rgb(0,150,221);
}
.icon {
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	width: 20px;
	width: 1.25rem;
	height: 14px;
	height: 0.875rem;
	background-size: 0.875rem;
	margin-right: 14px / 2;
	margin-right: 0.875rem / 2;
}
.icon-spec {
	background-image: url(images/html5.png);
}
.icon-mdn {
	background-image: url(images/mdn.png);
}
.icon-bugzilla {
	background-image: url(images/bugzilla.png);
}
.icon-samples {
	background-image: url(images/github.png);
}

.feature-status ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	height: 40px;
	height: 2.5rem;
}
.status {
	list-style: none;
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: stretch;
	-webkit-justify-content: stretch;
	    -ms-flex-pack: stretch;
	        justify-content: stretch;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	width: 20px;
	width: 1.25rem;
	background-position: 50% calc(1.25rem + 1px);
	background-repeat: no-repeat;
	background-size: 16px;
	color: #484848;
	font-weight: 700;
	font-size: 0.72917em;
	text-transform: uppercase;
	border: 1px solid rgba(0, 0, 0, 0);
	border-bottom: none;
}
.status.state-chrome {
	background-image: url(https://raw.githubusercontent.com/alrra/browser-logos/master/chrome/chrome_64x64.png);
}
.status.state-firefox {
	background-image: url(https://raw.githubusercontent.com/alrra/browser-logos/master/firefox/firefox_128x128.png);
}
.status.state-edge {
	background-image: url(https://raw.githubusercontent.com/alrra/browser-logos/master/edge/edge_64x64.png);
}
.status.state-webkit {
	background-image: url(https://raw.githubusercontent.com/alrra/browser-logos/master/safari/safari_64x64.png);
}
.status-inner {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	color: inherit;
}
.status-inner:hover, .status-inner:focus, .status-inner:active {
	text-decoration: none;
	color: inherit;
}

.status.state-unknown {
	background-color: #d1d2d3;
	border-color: rgb(203, 204, 205);
}
.status.state-not-planned {
	background-color: rgb(237, 138, 104);
	border-color: rgb(236, 130, 95);
}
.status.state-deprecated {
	background-color: rgb(237, 138, 104);
	border-color: rgb(236, 130, 95);
}
.status.state-under-consideration {
	background-color: rgb(246, 176, 106);
	border-color: rgb(246, 171, 96);
}
.status.state-in-development {
	background-color: rgb(255, 219, 77);
	border-color: rgb(255, 217, 66);
}
.status.state-shipped {
	background-color: rgb(156, 210, 131);
	border-color: rgb(150, 208, 124);
}
.status-text {
	font-size: 0.72917em;
	display: none;
}
.status-version {
	color: #6fbe4a;
}

body > footer {
  text-align: center;
  color: white;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {

	#tabzilla a {
		background-image: url('images/tabzilla-static-high-res.png');
		background-size: 147px 37px;
	}
}

@media (min-width: 1000px) {

	.row {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	.status {
		font-size: 0.875rem;
	}

	.feature:hover .status:not(.state-firefox), .feature:focus .status:not(.state-firefox) {
		width: 7.5rem;
	}

	.status-text {
		font-size: 0.875rem;
	}
}

@media (min-width: 480px) {

	.feature {
		padding: 0.4375rem 0.875rem;
	}

	.feature-title {
		font-size: 1.26rem;
		letter-spacing: -.035em;
		font-weight: 300;
	}

	@media (min-width: 1400px) {

		.feature-title {
			font-size: 1.512rem;
		}
	}

	.feature-meta {
		display: block;
	}
}

@media (min-width: 1400px) {

	.feature-title {
		font-size: 1.512rem;
	}
}

@media (max-width: 480px) {

	.feature:focus .feature-meta {
		display: block;
	}
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {

	.icon-spec {
		background-image: url(images/html5@2x.png);
	}

	.icon-mdn {
		background-image: url(images/mdn@2x.png);
	}

	.icon-bugzilla {
		background-image: url(images/bugzilla@2x.png);
	}

	.icon-samples {
		background-image: url(images/github@2x.png);
	}
}

@media (min-width: 760px) {

	.status {
		color: #fff;
		font-weight: 600;
		font-size: 0.875rem;
		text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.3);
		width: 3.75rem;
		-webkit-transition: width 0.2s ease-in-out;
		transition: width 0.2s ease-in-out;
		background-size: 32px;
		background-position: 50% 1.23609rem;
		border-top: none;
	}

	@media (min-width: 1000px) {

		.status {
			font-size: 0.875rem;
		}
	}

	.status.state-firefox {
		background-size: 48px;
		width: 10rem;
		background-position: 50% calc(1.25rem - 5px);
	}

	.status.state-firefox .status-text {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}

	.status.state-unknown {
		background-color: #d1d2d3;
		border-color: rgb(203, 204, 205);
	}

	.status.state-unknown .status-inner {
		background-image: -webkit-linear-gradient(bottom, rgba(209, 210, 211, 0.7), rgba(209, 210, 211, 0.5) 10%, rgba(209, 210, 211, 0) 25%);
		background-image: linear-gradient(to top, rgba(209, 210, 211, 0.7), rgba(209, 210, 211, 0.5) 10%, rgba(209, 210, 211, 0) 25%);
	}

	.status.state-not-planned {
		background-color: #e55525;
		border-color: rgb(228, 77, 27);
	}

	.status.state-not-planned .status-inner {
		background-image: -webkit-linear-gradient(bottom, rgba(229, 85, 37, 0.7), rgba(229, 85, 37, 0.5) 10%, rgba(229, 85, 37, 0) 25%);
		background-image: linear-gradient(to top, rgba(229, 85, 37, 0.7), rgba(229, 85, 37, 0.5) 10%, rgba(229, 85, 37, 0) 25%);
	}

	.status.state-deprecated {
		background-color: #e55525;
		border-color: rgb(228, 77, 27);
	}

	.status.state-deprecated .status-inner {
		background-image: -webkit-linear-gradient(bottom, rgba(229, 85, 37, 0.7), rgba(229, 85, 37, 0.5) 10%, rgba(229, 85, 37, 0) 25%);
		background-image: linear-gradient(to top, rgba(229, 85, 37, 0.7), rgba(229, 85, 37, 0.5) 10%, rgba(229, 85, 37, 0) 25%);
	}

	.status.state-under-consideration {
		background-color: #f18a21;
		border-color: rgb(240, 133, 25);
	}

	.status.state-under-consideration .status-inner {
		background-image: -webkit-linear-gradient(bottom, rgba(241, 138, 33, 0.7), rgba(241, 138, 33, 0.5) 10%, rgba(241, 138, 33, 0) 25%);
		background-image: linear-gradient(to top, rgba(241, 138, 33, 0.7), rgba(241, 138, 33, 0.5) 10%, rgba(241, 138, 33, 0) 25%);
	}

	.status.state-in-development {
		background-color: #ffcd02;
		border-color: rgb(245, 196, 0);
	}

	.status.state-in-development .status-inner {
		background-image: -webkit-linear-gradient(bottom, rgba(255, 205, 2, 0.7), rgba(255, 205, 2, 0.5) 10%, rgba(255, 205, 2, 0) 25%);
		background-image: linear-gradient(to top, rgba(255, 205, 2, 0.7), rgba(255, 205, 2, 0.5) 10%, rgba(255, 205, 2, 0) 25%);
	}

	.status.state-shipped {
		background-color: #6fbe4a;
		border-color: rgb(106, 187, 68);
	}

	.status.state-shipped .status-inner {
		background-image: -webkit-linear-gradient(bottom, rgba(111, 190, 74, 0.7), rgba(111, 190, 74, 0.5) 10%, rgba(111, 190, 74, 0) 25%);
		background-image: linear-gradient(to top, rgba(111, 190, 74, 0.7), rgba(111, 190, 74, 0.5) 10%, rgba(111, 190, 74, 0) 25%);
	}

	.feature:hover .status-text, .feature:focus .status-text {
		display: block;
	}

	.status-version {
		color: inherit;
	}
}

/*# sourceMappingURL=bundle.css.map */
